<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="col-md-6">
    <h5 class="bg-dark text-warning p-2 mb-0 mt-4">Change Password</h5>
<form [formGroup]="passwordForm" class="form form-control">
    <div class="mb-3">
      <label for="old_password" class="col-form-label">Old Password <span  class="text-danger">*</span></label>
      <input type="password" class="form-control form-control-sm" id="old_password" formControlName="newPass" [(ngModel)]="passobj.newPass">
      <div *ngIf="passwordForm.get('newPass').invalid &&  passwordForm.get('newPass').touched">
        <div class="text-danger fst-italic" *ngIf="passwordForm.get('newPass').errors?.required">Required</div>
        <div class="text-danger fst-italic" *ngIf="passwordForm.get('newPass').errors?.minlength">At least 4 characters long</div>
        <div class="text-danger fst-italic" *ngIf="passwordForm.get('newPass').errors?.maxlength">At most 7 characters long</div>
      </div>
    </div>
    <div class="mb-3">
        <label for="new_password" class="col-form-label">New Password <span  class="text-danger">*</span></label>
        <input type="password" class="form-control form-control-sm" id="new_password" formControlName="newPass" [(ngModel)]="passobj.newPass">
        <div *ngIf="passwordForm.get('newPass').invalid &&  passwordForm.get('newPass').touched">
          <div class="text-danger fst-italic" *ngIf="passwordForm.get('newPass').errors?.required">Required</div>
          <div class="text-danger fst-italic" *ngIf="passwordForm.get('newPass').errors?.minlength">At least 4 characters long</div>
          <div class="text-danger fst-italic" *ngIf="passwordForm.get('newPass').errors?.maxlength">At most 7 characters long</div>
        </div>
      </div>
    <div class="mb-3">
      <label for="confirm_password" class="col-form-label">Confirm Password <span  class="text-danger">*</span></label>
      <input type="text" class="form-control form-control-sm" id="confirm_password" formControlName="confirmPass" [(ngModel)]="passobj.changePass">
      <div *ngIf="passwordForm.get('confirmPass').invalid &&  passwordForm.get('confirmPass').touched">
        <div class="text-danger fst-italic" *ngIf="passwordForm.get('confirmPass').errors?.required">Required</div>
        <div class="text-danger fst-italic" *ngIf="passwordForm.get('confirmPass').errors?.minlength">At least 4 characters long</div>
        <div class="text-danger fst-italic" *ngIf="passwordForm.get('confirmPass').errors?.maxlength">At most 7 characters long</div>
        <div class="text-danger fst-italic" *ngIf="passwordForm.get('confirmPass').errors?.passwordMismatch">Passwords do not match</div>
      </div>
    </div>
    <button class="btn btn-sm btn-success ">Change Password</button>
  </form>
  </div>
  </div>
</div>