<div class=" container m-auto matchlive">
  <div class="mainleft">
    <div class="oddspage">
        <div class="matchscore">
            <div class="matchscoreheading" *ngIf="matchData && matchData.length > 0">
                <ul class="matchscoreheadingul">
                    <li class="matchscoreheadingli">{{matchData[0]?.event_away_team}} vs {{matchData[0]?.event_home_team}}</li>
                    <li class="matchscoreheadingli">Matches</li>
                </ul>
                <div class="scorecard">
                  <div class="scorecard-left">
                      <ul class="teamname1">
                        <li class="teamname1li">{{matchData[0]?.event_away_team}}</li>
                        <li class="teamname1li">{{matchData[0]?.event_away_final_result?matchData[0]?.event_away_final_result:'0/0(0.0)'}}</li>
                      </ul>
                        <ul class="teamname2">
                          <li class="teamname2li">{{matchData[0]?.event_home_team}}</li>
                          <li class="teamname2li">{{matchData[0]?.event_home_final_result?matchData[0]?.event_home_final_result:'0/0(0.0)'}}</li>
                        </ul>
                    <h5 class="crr">CRR(NaN)</h5>
                    <div class="battingstats">
                        <h5 class="battingstatsh2">BATTING STATS</h5>
                        <ul class="battingstatsul">
                          <li class="battingstatsli"><img src="../../../assets/images/cricket-bat.png" alt=""></li>
                          <li class="battingstatsli">N/A</li>
                          <li class="battingstatsli">0</li>
                        </ul> 
                        <ul class="battingstatsul">
                          <li class="battingstatsli"><img src="../../../assets/images/cricket-bat.png" alt=""></li>
                          <li class="battingstatsli">N/A</li>
                          <li class="battingstatsli">0</li>
                        </ul> 
                    </div>

                  </div>
                  <div class="scorecard-right">
                    <h5 class="scorecard-righth5-1">CURRENT OVER</h5>
                    <ul class="scorecard-rightul1">
                      <li class="scorecard-rightli1">-</li>
                      <li class="scorecard-rightli1">-</li>
                      <li class="scorecard-rightli1">-</li>
                    </ul>
                    <ul class="scorecard-rightul2">
                      <li class="scorecard-rightli2">-</li>
                      <li class="scorecard-rightli2">-</li>
                      <li class="scorecard-rightli2">-</li>
                    </ul>
                    <h5 class="scorecard-righth5-2">PLAYER</h5>
                  </div>
                </div>
            </div>
        </div>
        <h5 class="tossresulth5">Kolkata Night Rider won the toss and choose to bat</h5>
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">Batsman</th>
              <th scope="col">R</th>
              <th scope="col">B</th>
              <th scope="col">4s</th>
              <th scope="col">6s</th>
              <th scope="col">SR</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">N/A</th>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr>
              <th scope="row">N/A</th>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">Bowler</th>
              <th scope="col">O</th>
              <th scope="col">M</th>
              <th scope="col">R</th>
              <th scope="col">W</th>
              <th scope="col">SR</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">N/A</th>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Match odds</th>
          <th scope="col"><i class="bi bi-info-circle-fill"></i></th>
          <th scope="col">LAGAI</th>
          <th scope="col">KHAI</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Kolkata Night Rider</th>
          <td>0</td>
          <td>0.0</td>
          <td>0.0</td>
        </tr>
        <tr>
          <th scope="row">Rajasthan Royals</th>
          <td>0</td>
          <td>0.0</td>
          <td>0.0</td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="oddsdetails">

    </div>

</div>

