<h5 class="odd p-2">Sports details</h5>
    <div class="row g-3 mb-2">
            <div class="col-2">
                <input type="date" class="w-100">
            </div>
          <div class="col-2">
                <input type="date" class="w-100">
          </div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="odd">*</th>
            <th scope="col" class="even">Code</th>
            <th scope="col" class="odd">Name</th>
            <th scope="col" class="even">Time</th>
            <th scope="col" class="odd">Competetion</th>
            <th scope="col" class="even">Declared</th>
            <th scope="col" class="odd">Won By</th>
            <th scope="col" class="odd">P/L</th>
            <th scope="col" class="odd">Comm. Plus</th>
            <th scope="col" class="odd">Comm. Minus</th>
            <th scope="col" class="odd">App Charge</th>
            <th scope="col" class="odd">Final</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr> 
        </tbody>
      </table>
