<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="odd">S.NO.</th>
        <th scope="col" class="even">Parent ID</th>
        <th scope="col" class="odd">Parent Name</th>
        <th scope="col" class="even">Username</th>
        <th scope="col" class="odd">User ID</th>
        <th scope="col" class="even">Type</th>
        <th scope="col" class="odd">Old</th>
        <th scope="col" class="even">New</th>
        <th scope="col" class="odd">Cold</th>
        <th scope="col" class="even">C New</th>
        <th scope="col" class="odd">Date Time</th>
        <th scope="col" class="even">Done by</th>
        <th scope="col" class="odd">IP Adresses</th>
        <th scope="col" class="even">Remark</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr> 
    </tbody>
  </table>
