<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="odd">Date</th>
        <th scope="col" class="even">Description</th>
        <th scope="col" class="odd">Prev.Bal</th>
        <th scope="col" class="even">Cr</th>
        <th scope="col" class="odd">Dr</th>
        <th scope="col" class="even">Comm+</th>
        <th scope="col" class="odd">Comm-</th>
        <th scope="col" class="even">Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr> 
    </tbody>
  </table>
