<div class="row g-3 mb-2">
    <div class="col-3 odd">
        <label for="">Lena</label>
    </div>
    <div class="col-3 even">
        <p>0</p>
    </div>
    <div class="col-3 odd">
        <label for="">Dena</label>
    </div>
    <div class="col-3 even">
        <p>0</p>
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col" class="odd">Date</th>
            <th scope="col" class="even">Collection Name</th>
            <th scope="col" class="odd">Debit</th>
            <th scope="col" class="even">Credit</th>
            <th scope="col" class="odd">Balance</th>
            <th scope="col" class="even">Remarks</th>


        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
    </tbody>
</table>



<!-- <div class="col-lg-6 col-xs-6 col">Clear</div>
    <div class="col-lg-6 col-xs-6 col" style="text-align:right">0.00 -->
<div class="row g-3 my-2 odd">

    <div class="col-6">
        <p>Clear</p>
    </div>
    <div class="col-6">
        <p>0.00</p>
    </div>

</div>


<!-- <i class="fa fa-caret-down" style="font-size:20px;padding:2px"></i> -->
<!-- </div> -->
<div class="table-responsive my-2" id="clearhaidiv">
    <table  class="table table-bordered table-striped my-2"
        id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
        <thead>
            <tr role="row">
                <th class="sorting_disabled tablelightblue" rowspan="1" colspan="1">User Detail</th>
                <th class="sorting_disabled tabledarkblue" rowspan="1" colspan="1">Balance</th>
                <th class="sorting_disabled tablelightblue" rowspan="1" colspan="1">Action</th>
            </tr>
        </thead>
        <tbody id="clearList">

            <tr>
                <td>mm125109 (Cut2)
                </td>
                <td>0</td>
                <td class="">
                    <a href="/txnclient1/4/mm125109/0/0/1/200/REP" class="btn btn-xs btn-primary" style="width:80px"><i
                            aria-hidden="true">History</i></a>
                    <a class="btn btn-xs btn-success"><i aria-hidden="true" onclick="loadReport('mm125109')"
                            style="width:80px">Downline</i></a>
                </td>
            </tr>
            <tr>
                <td>mm125119 (New cutt)
                </td>
                <td>0</td>
                <td>
                    <a href="/txnclient1/4/mm125119/0/0/1/200/REP" class="btn btn-xs btn-primary" style="width:80px"><i
                            aria-hidden="true">History</i></a>
                    <a class="btn btn-xs btn-success"><i aria-hidden="true" onclick="loadReport('mm125119')"
                            style="width:80px">Downline</i></a>
                </td>
            </tr>
            <tr>
                <td>mm125139 (Myyy)
                </td>
                <td>0</td>
                <td class="">
                    <a href="/txnclient1/4/mm125139/0/0/1/200/REP" class="btn btn-xs btn-primary" style="width:80px"><i
                            aria-hidden="true">History</i></a>
                    <a class="btn btn-xs btn-success"><i aria-hidden="true" onclick="loadReport('mm125139')"
                            style="width:80px">Downline</i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>