<div class="row g-3 mb-2 p-2">
    <div class="col-xl-4 col-sm-2">
     <input type="text" name="" id="" placeholder="Search...">
     <button class="bg-danger text-light">Search</button>
     <button class="bg-danger text-light">Create</button>
    </div> 
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="odd">*</th>
        <th scope="col" class="even">CODE</th>
        <th scope="col" class="odd">NAME</th>
        <th scope="col" class="even">CHIPS</th>
        <th scope="col" class="odd">DEPOSIT</th>
        <th scope="col" class="even">WITHDRAW</th>
        <th scope="col" class="odd">EXPOSURE</th>
        <th scope="col" class="even">COMM TYPE</th>
        <th scope="col" class="odd">ACC. TYPE</th>
        <th scope="col" class="even">BET LOCK</th>
        <th scope="col" class="odd">ACTION</th>
      

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">+</th>
        <td><h5 class="text-primary">C12345</h5>
            <button class="bg-danger text-light">In-active</button>
        </td>
        <td><h6>Name</h6>
        <button class="bg-danger text-light">Edit</button><button class="bg-success text-light">Change Pass</button></td>
        <td><h5>0.00</h5>
            <button class="bg-danger text-light">Statement</button>
        </td>
        <td><h5>Deposit</h5>
            <button class="bg-warning">Deposit</button>
        </td>
        <td><h5>Withdraw</h5>
            <button class="bg-success text-light">Withdraw</button>
        </td>
        <td>0.00</td>
        <td>NOC</td>
        <td><button class="bg-warning">Account Lock</button></td>
        <td><button class="bg-danger text-light">Betlock</button></td>
        <td><button class="bg-success text-light">Acc. Opertion</button></td>
        
      </tr> 
    </tbody>
  </table>

