<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="odd">S.NO.</th>
        <th scope="col" class="even">User Name</th>
        <th scope="col" class="odd">Agent Name</th>
        <th scope="col" class="even">Contact No</th>
        <th scope="col" class="odd">IP Adresses</th>
        <th scope="col" class="even">Date</th>
        <th scope="col" class="odd">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr> 
    </tbody>
  </table>
