.depositUsername{
    text-align: center;
    color: green;
}

.coins{
    display: flex;
}

.parent_coins{
    background-color: green;
    color: white;
    text-align: center;
    padding: 20px;
}
.users_coins{
    background-color: red;
    color: white;
    text-align: center;
    padding: 25px;
}