<h5 class="p-2 odd">Company Lena Dena</h5>
<div class="row g-3 mb-2">
    <div class="col-2">
      <label for="">Date From</label>
    </div>
        <div class="col-3">
            <input type="date" class="w-100">
        </div>
    <div class="col-2">
        <label for="">Date To</label>
      </div>
      <div class="col-3">
            <input type="date" class="w-100">
      </div>
  </div>
  <div class="row g-3 mb-2">
    <div class="col-2">
      <label for="">Entry Type</label>
    </div>
    <div class="col-3">
        <select class="w-100" id="">
            <option value="" disabled hidden selected>All</option>
            <option value="">Settlement</option>
            <!-- <option value="">Payment Dena</option> -->
          </select>
    </div>
    <div class="col-2">
        <button class="btn btn-sm btn-info px-3 even">Submit</button>

      </div>
      
  </div>
  <div class="row g-3 m-2 pb-2" style="background-color: rgb(236, 236, 236);">
    <div class="col">
      <label for="">Dena:</label>
      <input type="text" name="" id="">
    </div>
    <div class="col">
        <label for="">Lena:</label>
      <input type="text" name="" id="">
      </div>
      <div class="col">
        <label for="">Balance:</label>
      <input type="text" name="" id="">
      </div>
      <div class="col">
        <button class="btn btn-sm btn-info px-3 mb-1 even">Deleted</button>
      </div>
     
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="even">Date</th>
            <th scope="col" class="even">Collection Name</th>
            <th scope="col" class="odd">Debit</th>
            <th scope="col" class="even">Credit</th>
            <th scope="col" class="odd">Balance</th>
            <th scope="col" class="even">Remarks</th>
          

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
          </tr> 
        </tbody>
      </table>
   
  </div>
