<div class="login-wrapper">
    <div class="container login-main">
        <div class="row">
            <div class="col-md-6 side-image">
              
                <!-- <img src="../../assets/images/white.png" alt=""> -->
                <div class="text">
                    <p></p>
                </div>
                
            </div>

            <div class="col-md-6 right">
                
                <form class="input-box" [formGroup]="loginForm">
                   
                   <header> Login Account</header>
                   <div class="input-field">
                        <input type="text" class="input" id="user_name" required="" autocomplete="off" formControlName="user_name">
                        <label for="user_name">Username</label> 
                    </div> 
                   <div class="input-field">
                        <input type="password" class="input" id="user_password" required="" autocomplete="off" formControlName="user_password">
                        <label for="user_password">Password</label>
                    </div> 
                    
                   <div class="input-field">
                        
                        <input type="submit" class="submit" value="Sign Up" (click)="userLogin(loginForm?.value)">
                   </div> 
                   
                   <div class="signin">
                    <span>Don't have an account? <a href="#">Click Here</a></span>
                   </div>
                </form>  
            </div>
        </div>
    </div>
</div> 

