<table class=" container mt-4 table table-bordered bg-light">

    <tbody>
        <tr>
            <td class="p-0 mb-0" colspan="3">
                <h5 class="bg-dark text-warning p-2 mb-0" >Rate Information</h5>

            </td>
        </tr>
    <tr>
        <td>Rate Difference</td>
        <td><select name="" id="">
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
        </select></td>
        <td><button class="btn btn-sm btn-success ">Update</button></td>
      </tr>
      </tbody>
    </table>
<table class=" container mt-4 table table-bordered bg-light">
    <tbody>
      <tr>
        <td class="p-0 mb-0" colspan="3">
            <h5 class="bg-dark text-warning p-2 mb-0" >Personal Information</h5>

        </td>
    </tr>
      <tr class="table">
        <td>Client Name</td>
        <td>Client Name</td>
      </tr>
      <tr class="table">
        <td>Client Code</td>
        <td>Client Code</td>
      </tr>
      <tr class="table">
        <td>Chips</td>
        <td>1000</td>
      </tr>
      <tr class="table">
        <td>Date of joining</td>
        <td>12-04-2024</td>
      </tr>
    </tbody>
  </table>