
    <div class="d-flex ">
        <div class="pagetitle ">
            <h1>Add Classes</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="'classes'">Classes</a></li>
                <li class="breadcrumb-item active"><a [routerLink]="'../dashboard'">Dashboard</a></li>
              </ol>
            </nav>
          </div>
          <div class="icon ms-auto">
            <div class="text-center">
                <button type="submit" class="btn btn-submit"><i class="bi bi-search me-2 "></i> Table</button>
               
              </div>
          </div>

    </div>
   
